/* Global styles */

#container {
	margin: 0px auto;
	text-align: left;
	width: 1050px;
}

h1 {
  font:  250% sans-serif;
  color: #ffffff;
  border-bottom: 3px dotted #77d;
}
h2 {
  color: white;
  font-size: large;
}
h3 {
        color: #fff
}
h4 {
        color: #fff
}
h5 {
        color: #fff
}
p {
  color: #ffffff;
}
body {
  background-color: #2C2774;
  text-align: center;

 }
pre  {
  font-size: medium;
  background-color:   #a68926;
}
a {
  font-size: medium;
}

a:link {
  color: #ffffff; text-decoration: underline; 
}
a:active {
  color: #ffffff; text-decoration: underline; 
}
a:visited {
  color: #ffffff; text-decoration: underline; 
}
a:hover {
  color: #ffffff; text-decoration: underline; 
}
/* Styles for lyrics/index */


/* Styles for main page */

#banner {
  background: #2C2774 ;
  padding-top: 10px;

  border-bottom: 2px solid;
  font:  small-caps 40px/40px "Times New Roman", serif;
  color: #625835 ;
  text-align: center;
}
#banner img {
  width: 604px;
  margin-left: auto;
  margin-right: auto;
  float: center;
}
#banner a {
  font-weight: bold;
  font-size:large;
}
#columns {
  background: #2C2774;
}
#columns a {
  font-size: small;
}
#main {
  background: url(../images/backgroundmain.png);
  width:      600px;
  margin-left: auto ;
  margin-right: auto ;
  padding-top: 20px;
  text-align:center;
  border-right: 2px solid;
  border-left: 2px solid;
  color:      #000 ;
}
#topbackground {
	background: url(../images/topbackgroundmain.png);
	width:      604px;
	height:     30px;
    margin-left:auto;
    margin-right: auto;
	position:   relative;
}
#bottombackground {
	background: url(../images/bottombackgroundmain.png);
	width:      604px;
	height:     42px;
    margin-left:auto;
    margin-right: auto;
	clear:      both;
}
#mainmid {
  background: url(../images/backgroundmain.png);
  width:      600px;
  overflow:   wrap;
  padding-top: 10px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
#artist {
  font-color: white;
  font-size: large;  
}
#artist a:link {
  color: #ffffff; text-decoration: underline; 
}
#artist a:active {
  color: #ffffff; text-decoration: underline; 
}
#artist a:visited {
  color: #ffffff; text-decoration: underline; 
}
#artist a:hover {
  color: #ffffff; text-decoration: underline; 
}
#side {
  float:      right; 
  background: #2C2774;
  width:      180px;
  margin-top:10px;
  overflow: auto;
}
#side a {
  color: white ;
  font-size: xx-large;
}
#side p {
  color: white ;
  font-size: xx-large;
}
#mainleft {
  float:      left;
  width:      200px;
  margin-left: 190px ;
  display:    inline;
  margin-top: 6px;
  background: #2C2774;
}
#mainright {
  float:      right;
  width:      250px;
  margin-right: 90px;
  padding-top: 6px;
  margin-top: 19px;
  background: #2C2774;
}
#mainmiddle {
  padding-top: 10px;
  margin-left: auto;
  margin-right: auto; 
  width:      600px;
  text-align: center;
}
#store .entry form, #store .entry form div {
  display: inline;
}

#notice {
  border:  2px solid red;
  padding: 1em;
  margin-bottom: 2em;
  background-color: #f0f0f0;
  font:    bold smaller sans serif;
}

#bannerside {
  float:      right;
  margin-bottom: 10px;
  background: #2C2774;
  width: 300px;
}

#bannermiddle {
  margin-left: auto;
  margin-right: auto; 
  width: 300px;
  text-align: center;
  margin-top: 15px;
  background: #2C2774;
  margin-bottom: 10px; 
}






